<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>New post created</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style type="text/css">
    body {
      margin: 1rem;
      font-family: Arial, Helvetica, sans-serif;
    }

    p {
      display: block;
      margin: 1rem 0;
    }
  </style>
</head>

<body style="word-spacing:normal;background-color:#ffffff;">
  <h3>Hello!</h3>
  <p>
    New Post: 
    <%= post.title %>
    <p>
      <%= post.content %>
    </p>
  </p>
  <p>
    Regars, <%= companyName %>
  </p>
</body>

</html>