container_commands:
  01_install_instance_connect:
    command: |
      yum install -y ec2-instance-connect
  02_install_dependancies:
    command: |
      npm ci
  03_run_migrations:
    command: |

      # Fetch secrets from SSM and add to environment 
      export DB_PASSWORD=$(aws ssm get-parameter --name "/boilerplate-dev/db-password" --with-decryption --query 'Parameter.Value' --output text --region eu-central-1) 
      export API_KEY=$(aws ssm get-parameter --name "/boilerplate-dev/api-key" --with-decryption --query 'Parameter.Value' --output text --region eu-central-1) 
      export MAIL_PASSWORD=$(aws ssm get-parameter --name "/boilerplate-dev/mail-password" --with-decryption --query 'Parameter.Value' --output text --region eu-central-1)

      # Load environment variables safely
      while IFS='=' read -r key value; do
        if [[ $key && $value && ! $key =~ ^# ]]; then
          export "$key"="$value"
        fi
      done < /opt/elasticbeanstalk/deployment/env
      npm run migration:run
    leader_only: true