container_commands:
  01_install_instance_connect:
    command: |
      yum install -y ec2-instance-connect
  02_run_migrations:
    command: |
      # Load environment variables safely
      while IFS='=' read -r key value; do
        if [[ $key && $value && ! $key =~ ^# ]]; then
          export "$key"="$value"
        fi
      done < /opt/elasticbeanstalk/deployment/env
      npm run migration:run
    leader_only: true