name: Deploy API to AWS
on:
  pull_request:
    branches:
      - master
    types:
      - closed

jobs:
  deploy-api:
    if: github.event.pull_request.merged
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache api files
        id: cache-api
        uses: actions/cache@v4
        env: 
          cache-name: cache-api-files
        with:
          path: .
          key: ${{ hashFiles('package*.json') }}-${{ hashFiles('src/**/*') }}

      - if: ${{ steps.cache-api.outputs.cache-hit == 'true' }}
        name: Check api changes
        continue-on-error: true
        run: echo 'No api changes found. Skip api build and deployment.'

      - if: ${{ steps.cache-api.outputs.cache-hit != 'true' }}
        name: Build 
        run: |
          npm ci
          npm run build

      - if: ${{ steps.cache-api.outputs.cache-hit != 'true' }}
        name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with: 
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{vars.AWS_REGION}}

      - if: ${{ steps.cache-api.outputs.cache-hit != 'true' }}
        name: Deploy api with CDK
        run: |
          npm install -g aws-cdk
          cd infra
          npm ci
          npx cdk deploy --context targetEnv=dev --require-approval never

